%hidden-block {
  visibility: hidden;
  opacity: 0;
  transition: opacity var(--hover-transition);
}

.bonuses-section {
  position: absolute;
  top: vh(15);
  right: var(--container-side-padding);
  z-index: var(--z-bonuses-section);
  height: 0;
  border-radius: to-rem(5);
  overflow: hidden;

  @extend %hidden-block;

  transition: height var(--hover-transition), opacity var(--hover-transition);

  @include respond-above(tablet) {
    top: vh(20);
    right: calc(var(--container-side-padding) + 19vw);
  }

  @include respond-above(medium) {
    right: calc(var(--container-side-padding) + 9vw);
  }

  @include respond-above(large) {
    top: vh(24);
    right: min(var(--container-side-padding) + 18vw, to-rem(380));
  }

  &--visible-first-bonus {
    visibility: visible;
    opacity: 1;
    height: to-rem(90);

    @include respond-above(medium) {
      height: to-rem(136);
    }
  }

  &--visible-second-bonus {
    height: to-rem(140);

    @include respond-above(medium) {
      height: to-rem(198);
    }
  }
}

.bonuses-section__content {
  --border-width: #{to-rem(3)};

  position: relative;
  z-index: var(--z-default);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: to-rem(15);
  border-radius: to-rem(5);
  background-color: #ff4da2;
  text-transform: uppercase;
  line-height: 1.8;
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    top: var(--border-width);
    left: var(--border-width);
    height: calc(100% - var(--border-width) * 2);
    width: calc(100% - var(--border-width) * 2);
    border-radius: to-rem(5);
    z-index: var(--z-hidden);
    background-image: radial-gradient(
      50% 50% at 50% 50%,
      #4404fb 0%,
      #2b00a7 100%
    );
  }
}

.bonuses-section__title {
  font-size: to-rem(24);
  font-weight: 800;

  @include respond-above(medium) {
    font-size: to-rem(40);
  }
}

.bonuses-section__bonus {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  font-size: to-rem(16);

  @include respond-above(medium) {
    font-size: to-rem(24);
  }

  &--second {
    justify-content: flex-end;
    font-size: to-rem(10);
    line-height: 1.2;

    @include respond-above(medium) {
      font-size: to-rem(14);
    }
  }
}

.bonuses-section__text--accent {
  margin-right: to-rem(10);
  background: linear-gradient(
    180deg,
    #ffc700 25.89%,
    #fedf00 42.63%,
    #ffffda 60.74%,
    #fedf00 78.57%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-size: to-rem(24);

  @include respond-above(medium) {
    font-size: to-rem(40);
  }

  .bonuses-section__bonus--second & {
    font-size: to-rem(18);

    @include respond-above(medium) {
      font-size: to-rem(20);
    }
  }
}

.bonuses-section__divider {
  width: 100%;
  height: to-rem(1);
  margin-top: to-rem(2);
  margin-bottom: to-rem(10);
  background-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) -1.25%,
    #fff 51.76%,
    rgba(255, 255, 255, 0) 101.56%
  );
}
