.main {
  position: relative;
  height: vh(100);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: vh(9);
}

.main__cta-btn {
  position: relative;
  z-index: var(--z-wheel-btn);
  height: to-rem(80);
  width: 100%;
  max-width: var(--wheel-size-portrait, var(--wheel-size-landscape));
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: to-rem(40);
  text-transform: uppercase;
  cursor: default;
  transform: translateY(max(vh(8) * -1, -75%));
  transition: box-shadow var(--hover-transition),
    transform var(--hover-transition);

  /* stylelint-disable */
  border-radius: 20px;
  border: 4px solid #f6efee;
  background: radial-gradient(
    circle at center,
    #f00 0%,
    #bf0100 35%,
    #7e0200 70%
  );
  box-shadow: 8px -15px 11.8px 0px rgba(0, 0, 0, 0.45) inset,
    0px 4px 59.7px 0px #ffffa1;
  /* stylelint-enable */

  @media (orientation: landscape) {
    height: vh(11.2);
    max-width: calc(
      var(--wheel-size-portrait, var(--wheel-size-landscape)) * 0.65
    );
    font-size: vh(6);
  }

  @include hover {
    body:not(.wheel-stage-3) & {
      cursor: pointer;
      transform: translateY(max(vh(8) * -1, -75%)) scale(1.1);
    }
  }
}
