$col-dark-seashore-night: #0f2997;
$col-dark-seashore-night-rgb: hex-to-rgb($col-dark-seashore-night);

$col-prussian-nights: #070e68;
$col-prussian-nights-rgb: hex-to-rgb($col-prussian-nights);

$col-galactic-cruise: #18218e;
$col-galactic-cruise-rgb: hex-to-rgb($col-galactic-cruise);

$col-sixteen-million-pink: #fa00ff;
$col-sixteen-million-pink-rgb: hex-to-rgb($col-sixteen-million-pink);

$col-fungal-hallucinations: #d600db;
$col-fungal-hallucinations-rgb: hex-to-rgb($col-fungal-hallucinations);

$col-aunt-violet: #800083;
$col-aunt-violet-rgb: hex-to-rgb($col-aunt-violet);
