$col-total-black: #000000;
$col-total-black-rgb: hex-to-rgb($col-total-black);

$col-total-white: #ffffff;
$col-total-white-rgb: hex-to-rgb($col-total-white);

$col-vermilion-cinnabar: #e63946;
$col-vermilion-cinnabar-rgb: hex-to-rgb($col-vermilion-cinnabar);

$col-radiant-silver: #8f969c;
$col-radiant-silver-rgb: hex-to-rgb($col-radiant-silver);

$col-bilberry: #72787e;
$col-bilberry-rgb: hex-to-rgb($col-bilberry);

$col-island-palm: #697a6d;
$col-island-palm-rgb: hex-to-rgb($col-island-palm);

$col-dark-seashore-night: #0f2997;
$col-dark-seashore-night-rgb: hex-to-rgb($col-dark-seashore-night);

$col-prussian-nights: #070e68;
$col-prussian-nights-rgb: hex-to-rgb($col-prussian-nights);

$col-galactic-cruise: #18218e;
$col-galactic-cruise-rgb: hex-to-rgb($col-galactic-cruise);

$col-sixteen-million-pink: #fa00ff;
$col-sixteen-million-pink-rgb: hex-to-rgb($col-sixteen-million-pink);

$col-aunt-violet: #800083;
$col-aunt-violet-rgb: hex-to-rgb($col-aunt-violet);
