<section class="bonuses-section js-bonuses-section">
  <div class="bonuses-section__content">
    <h2 class="bonuses-section__title">Bonus!</h2>
    <div class="bonuses-section__bonus bonuses-section__bonus--first">
      <p>R$</p>
      <p class="bonuses-section__text--accent">4000</p>
    </div>
    <div class="bonuses-section__bonus bonuses-section__bonus--second">
      <div class="bonuses-section__divider"></div>
      <p class="bonuses-section__text--accent">+250</p>
      <p>
        Giros
        <br />
        gratis
      </p>
    </div>
  </div>
</section>
