@use 'sass:color';
@import '@/styles/colors';

:root,
::before,
::after {
  // Primary colors
  --col-dark-seashore-night: #{$col-dark-seashore-night};
  --col-dark-seashore-night-rgb: #{$col-dark-seashore-night-rgb};
  --col-prussian-nights: #{$col-prussian-nights};
  --col-galactic-cruise: #{$col-galactic-cruise};
  --col-sixteen-million-pink: #{$col-sixteen-million-pink};
  --col-fungal-hallucinations: #{$col-fungal-hallucinations};
  --col-aunt-violet: #{$col-aunt-violet};

  // Z-indexes
  --z-modal-overlay: 14;
  --z-modal: 9;
  --z-bonuses-section: 5;
  --z-wheel-btn: 4;
  --z-wheel: 3;
  --z-default: 1;
  --z-hidden: -1;

  // Text variables
  /* stylelint-disable max-line-length */
  --primary-font-family: 'Open Sans', -apple-system, 'BlinkMacSystemFont',
    'Segoe UI', 'Roboto', 'Oxygen-Sans', 'Ubuntu', 'Cantarell', 'Helvetica Neue',
    sans-serif;
  --secondary-font-family: 'Ubuntu', -apple-system, 'BlinkMacSystemFont',
    'Segoe UI', 'Roboto', 'Oxygen-Sans', 'Ubuntu', 'Cantarell', 'Helvetica Neue',
    sans-serif;
  /* stylelint-enable max-line-length */

  --p-size: #{to-rem(14)};

  @include respond-above(tablet) {
    --p-size: #{to-rem(18)};
  }

  // Base
  --container-max-width: 100%;
  --container-side-padding: #{to-rem(20)};
  --primary-text-color: var(--col-total-white);

  @include respond-above(medium) {
    --container-max-width: #{to-rem(1100)};
    --container-side-padding: #{to-rem(40)};
  }

  @include respond-above(xmedium) {
    --container-max-width: #{to-rem(1180)};
  }

  @include respond-above(large) {
    --container-max-width: #{to-rem(1620)};
    --container-side-padding: #{to-rem(50)};
  }

  // App overlay
  --app-overlay-bg: rgba(var(--col-dark-seashore-night-rgb), 80%);

  // Sign up form
  --sign-up-form-input-bg: var(--col-galactic-cruise);
  --sign-up-form-accent-text-color: var(--col-sixteen-million-pink);

  @include respond-above(small) {
    --sign-up-form-input-bg: var(--col-galactic-cruise);
  }

  // Wheel
  @media (orientation: portrait) {
    --wheel-size-portrait: #{min(90vw, vh(55))};

    @include respond-above(tablet) {
      --wheel-size-portrait: #{min(85vw, vh(62))};
    }
  }

  @media (orientation: landscape) {
    --wheel-size-landscape: #{min(52vw, vh(80))};

    @include respond-above(xmedium) {
      --wheel-size-landscape: #{min(46vw, vh(78))};
    }
  }
}
